<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta charset="utf-8">
    <title>APIDash</title>

    <link rel="stylesheet" href="/static/jquery-ui.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" media="all" type="text/css" />

  </head>
  <body>

    <div id="codemodal" title="Module Editor">
      <textarea></textarea>
    </div>

    <div class="cf">
      <div id="modules">
        <h2>Modules</h2>

      </div>
      <div id="container"></div>
    </div>

    <button id="run">run</button>
    <div id="console"></div>

    <script src="static/vendor.js"></script>
    <script src="static/app.js"></script>
    <script>
      $("#codemodal").dialog({autoOpen: false, width: 500, height: 300});
      APIDash.createBuilder('#container');
    </script>

  </body>
</html>
