<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta charset="utf-8">
    <title>APIDash</title>

    <style type="text/css">
      canvas { border: 1px solid #aaa; }
    </style>

  </head>
  <body>

    <div id="container">
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//code.createjs.com/createjs-2013.12.12.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"></script>
    <script src="static/app.js"></script>
    <script>
      APIDash.createBuilder('#container');
    </script>

  </body>
</html>
